* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-align: justify;
  scroll-behavior: smooth;
}

body {
  background-color: #ad88c6;
}
/* navv */
/* sidebar for mobile */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  z-index: 999;
  background-color: rgb(0, 0, 0, 0.3);

  height: 100vh;
  display: none;
  flex-direction: column;
}
.sidebar a {
  color: #ccc;
}
/* photo of sidebar */
.sbar {
  width: 20px;
}

/* .sidebar {
  color: #ccc;
} */

/* navbar contain logo and a */
.navv {
  margin: 0;
  width: 100%;
  position: fixed;
  background-color: #ffe6e6;
  z-index: 999;
  justify-content: space-between;

  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
}

.logo {
  color: #b04b90;
  margin-top: 15px;
}
.logo:hover {
  color: #ad88c6;

  transition: 0.2s;
}

nav a {
  color: #b04b90;
  text-decoration: none;
  font-size: 1rem;
  padding-right: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 60px;
  transition-duration: 0.3s;
  position: relative;
  overflow: hidden;
}

nav a::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: #ad88c6;
  top: 0;
  left: -100%;
  transition-duration: 0.5s;
}
nav a:hover::before {
  left: 0;
}
nav a:hover {
  color: #ad88c6;
  transition: 0.2s;
  background-color: #fbeaea;
}

/* navv */

/* home */
.roww {
  padding: 100px 100px;
  display: flex;
  align-items: center;
  gap: 100px;
}
.content {
  margin-bottom: 26px;
  text-align: center;
  font-size: 50px;
  color: bisque;
  text-transform: uppercase;
  cursor: default;
}

.btn {
  margin-top: 40px;
  border-radius: 80px;
  background-color: antiquewhite;
  font-size: 20px;
  padding: 10px 30px;
  /* display: inline-block; */
}
.btn:hover {
  background-color: #9e698d;
  color: #ffe6e6;
  transition: 2s;
}
/* home end */

/* <!-- box start --> */

.box {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  justify-content: center;
  gap: 14px;
}
.contant p {
  color: lightgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  text-align: justify;
  line-height: 30px;
}
.contant h4 {
  color: #ffe6e6;
  font-size: 20px;
  text-align: center;
}

/* <!-- about section start--> */

.h {
  font-size: 30px;
}
.para {
  font-size: 20px;
  color: #ffe6e6;
  line-height: 1.5;
}

/* course */
.heading {
  margin-bottom: 25px;
  text-align: center;
  font-size: 30px;
  color: bisque;
  text-transform: uppercase;
}
.heading span {
  color: #f4e6ff;
}

.boxy img {
  width: 300px;
  height: 200px;
}

.cover {
  display: flex;

  height: 500px;
  flex-wrap: wrap;
  margin-top: 90px;
  margin-right: 90px;
  justify-content: center;
}
.boxy {
  width: 300px;
  height: 300px;
  margin: 30px;
  background-color: bisque;
  box-shadow: -1px 0 10px #040404;
  text-align: center;
  border-radius: 20px;
  transition-duration: 0.5s;
  position: relative;
  overflow: hidden;
}
.boxy:hover {
  /* width: 302px;
  height: 350px; */
  box-shadow: -1px 0 20px white;
  transform: scale(1.1);
}

.boxy p {
  margin-top: 30px;
  text-align: center;
  position: absolute;
  bottom: -100%;
  transition-duration: 0.3s;
  color: #5d4070;
}
.boxy:hover p {
  display: block;
  transition-delay: 0.4s;
  bottom: 5%;
}
.boxy h2 {
  text-align: center;
  margin-top: 10px;
  color: #581a82;
}
/* course */
/* teacher */
.teachers {
  margin-top: 400px;
  align-items: center;
}
.cover2 {
  display: flex;

  height: 500px;
  flex-wrap: wrap;
  margin-top: 90px;
  margin-right: 90px;
  justify-content: center;
}

.imgt {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 5px solid violet;
  padding: 3px;
  align-items: center;
  margin-left: 60px;
}
.imgt:hover {
  box-shadow: -1px 0 25px palevioletred;
}
.imgt img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  align-items: center;
}

.box2 {
  width: 300px;
  height: 300px;
  margin: 30px;
  background-color: rgb(230, 208, 223);
  box-shadow: -1px 0 10px #040404;
  text-align: center;
  border-radius: 20px;
  transition-duration: 0.5s;
  position: relative;
  overflow: hidden;
  padding: 10px;
}
.box2:hover {
  width: 302px;
  height: 350px;
  box-shadow: -1px 0 25px goldenrod;
}
.box2 p {
  margin-top: 30px;
  text-align: center;
  position: absolute;
  bottom: -100%;
  transition-duration: 0.3s;
  color: rgb(79, 38, 79);
}
.box2:hover p {
  display: block;
  transition-delay: 0.4s;
  bottom: 20%;
  font-weight: bold;
}
.box2 h2 {
  text-align: center;
  margin-top: 10px;
  color: #9e698d;
}
/* teacher */

/* 
<!-- reviews start --> */

form {
  width: 600px;
  margin: 20px auto;
  background-color: #fbeaea;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  color: #ad88c6;
  font-weight: bold;
}

.password,
.text,
.email,
textarea {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
textarea {
  resize: vertical;
  min-height: 100px;
  background-color: #ecdcf7;
}
.submit {
  width: 100%;
  background-color: #9e698d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-align: center;
}
.submit:hover {
  background-color: #7d4c6d;
}
/* <!-- revies end --> */

input {
  background-color: #ecdcf7;
}
.co {
  margin-top: 100px;
}

/* creat animation */
.img {
  animation-name: loop;
  animation-duration: 1s;
}

.images {
  width: 400px;
  height: 300px;
}

.footer {
  text-align: center;
  margin-top: 30px;
  color: #ffe6e6;
}

.menu-button {
  display: none;
}
/* }
@media (max-width: 1026px) {
  .roww {
    padding: 40px 40px;
    display: block;
    align-items: center;
    gap: 30px;
  }
  .image {
    margin-left: 200px;
  }
  .content {
    margin-left: 200px;
  }
  .btn {
    padding: 10px 90px;
  }
  .box-container {
    margin-left: 370px;
  }
  .para {
    width: 700px;
  }
  .h {
    width: 600px;
  }

  .cover {
    height: 600px;
    width: 1200px;

    display: flex;

    flex-wrap: wrap;
  }
  .cover2 {
    display: flex;
    height: 500px;
    flex-wrap: nowrap;
    margin-top: 90px;

    justify-content: center;
    padding-top: 114px;
    padding-left: 60px;
  }
  .boxy {
    width: 300px;
    height: 300px;
  }
  .boxy img {
    width: 250px;
    height: 100px;
  }
} */

/* @media (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .reviews .heading {
    font-size: 60px;
    display: flex;
    margin-left: 240px;
    width: 200px;
    text-align: center;
    gap: 10px;
  }
  .roww {
    padding: 40px 40px;
    display: block;
    align-items: center;
    gap: 30px;
  }
  .imgt {
    margin-left: 30px;
  }
  .image {
    margin-left: 100px;
  }
  .content {
    margin-left: 200px;
  }
  .btn {
    padding: 10px 90px;
  }
  .box-container {
    margin-left: 370px;
  }
  .content {
    display: block;
  }
  .para {
    width: 400px;
    margin-right: 20px;
  }
  .h {
    margin: 0 0 0 0;
  }
  .cover {
    height: 500px;

    width: 900px;
  }
  .cover2 {
    display: flex;
    width: 900px;
    flex-wrap: nowrap;
  }

  .boxy {
    width: 200px;
    height: 200px;
  }
  .boxy img {
    width: 150px;
    height: 100px;
  }
  .heading {
    font-size: 70px;
    display: flex;
    margin-left: 240px;
    width: 200px;
    text-align: center;
  }
  .btn {
    width: 400px;
    height: 90px;
  }
  form {
    margin-left: 230px;

    width: 900px;
  }
  .images {
    width: 400px;
    height: 300px;
    margin-left: 70px;
    padding-bottom: 20px;
  }
  .imgz {
    width: 400px;
    height: 300px;
    margin-left: 70px;
  }
  .h3s {
    margin-left: 20px;
    font-size: 60px;
    margin-top: 20px;
  }
  h3 {
    margin-left: 300px;
    width: 500px;
  }
} */

@media (max-width: 971px) {
}

@media (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .home .roww .content .h3s {
    font-size: 6rem;
  }
  .para {
    font-size: 30px;

    line-height: 1.5;
    width: 500px;
  }
  .box-container {
    padding-left: 400px;
  }
}

@media (max-width: 600px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  html {
    font-size: 50%;
  }

  .roww {
    padding: 100px 100px;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap-reverse;
  }
  .content {
    padding-left: 200px;
  }
  .box-container {
    padding-left: 300px;
  }
  .para {
    font-size: 20px;

    line-height: 1.5;
    width: 300px;
  }
  .content {
    margin-left: 183px;
    margin-right: 0px;
    padding-left: 0px;
  }
  .about .roww {
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .roww {
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    margin-left: 10px;
  }
  .logo {
    font-size: medium;
  }
  .imgs {
    width: 580px;
    height: 300px;
  }
  .images {
    width: 580px;
    height: 300px;
  }

  .cover {
    display: flex;
    height: 1900px;
    flex-wrap: wrap;
    margin-top: 90px;
    margin-right: 90px;
    justify-content: center;
    width: 400px;

    margin-left: 100px;
  }

  .boxy {
    width: 100%;
  }
  .heading {
    padding-left: 200px;
  }
  .cover p {
    font-size: medium;
    text-align: center;
  }
}
